@font-face {
  font-family: "iconfont"; /* Project id 4015400 */
  src: url('iconfont.woff2?t=1682581403355') format('woff2'),
       url('iconfont.woff?t=1682581403355') format('woff'),
       url('iconfont.ttf?t=1682581403355') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e635";
}

.icon-sun:before {
  content: "\e636";
}

.icon-cart:before {
  content: "\e698";
}

.icon-category:before {
  content: "\e699";
}

.icon-form:before {
  content: "\e6a2";
}

.icon-pic:before {
  content: "\e6a8";
}

.icon-qrcode:before {
  content: "\e6a9";
}

.icon-viewgallery:before {
  content: "\e6b4";
}

.icon-account:before {
  content: "\e6b8";
}

.icon-clock:before {
  content: "\e6bb";
}

.icon-calendar:before {
  content: "\e6bf";
}

.icon-text:before {
  content: "\e6fc";
}

.icon-icondownload:before {
  content: "\e714";
}

.icon-rejectedorder:before {
  content: "\e724";
}

.icon-all:before {
  content: "\e696";
}

.icon-comments:before {
  content: "\e69b";
}

.icon-cry:before {
  content: "\e69c";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-edit:before {
  content: "\e69e";
}

.icon-set:before {
  content: "\e6ae";
}

.icon-Bell:before {
  content: "\e655";
}

.icon-Clothes:before {
  content: "\e656";
}

.icon-a-FullscreenExit:before {
  content: "\e66e";
}

.icon-Fullscreen:before {
  content: "\e66f";
}

