.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border: none;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: none !important;
}

.ant-menu {
    padding: 10px 20px 0 !important;
}

.ant-menu-sub {
    padding: 0 !important;
    background: transparent !important;
}

.anticon {
    svg {
        vertical-align: initial !important;
    }
}

.ant-picker {
    width: 100% !important;
}
